fig{
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
}
fig > p{
    text-align: center;
}
fig > div{
    margin: 0 auto 0 auto;
    text-align: center;
}
fig > div > img{
}
fig[fs] > div{
}
fig[fs] > div > img{
}
